.container{
	width: 500px;
	margin-top: 50px;
}
#player1, #player2, #player3, #player4{
	height: 194px;
	border: 5px solid black;
	width: 195PX;
}
#player1{
	background: blue;
	border-top-left-radius: 30px 30px; 
}
#player2{
	background: red;
	border-top-right-radius: 30px 30px;
}
#player3{
	background: yellow;
	border-bottom-left-radius: 30px 30px;
}
#player4{
	background: green;
	border-bottom-right-radius: 30px 30px;
}

.rowOfTable{
	height:  32px;
	border: 2px solid black;
}

.columnOfTable{
	width:  42px;
	border: 2px solid black;
}

.col, .col-5{
	padding: 0px;
}
.winningBoard{
	background: silver;
	border-top: 49px solid red;
	border-right: 55px solid green;
	border-bottom: 49px solid yellow;
	border-left: 55px solid blue;
	height: 98px;
	margin: 0px;
}
.table{
	margin: 0px;
	font-size: 8px;
}
.table2{
	font-size: 8px;
	width: 195px;
	border: 2px solid black;
}

#blueLine1,#blueLine2,#blueLine3,#blueLine4,#blueLine5,#blueLine6{
	background-color: blue;
}
#redLine1,#redLine2,#redLine3,#redLine4,#redLine5,#redLine6{
	background-color: red;
}
#yellowLine1,#yellowLine2,#yellowLine3,#yellowLine4,#yellowLine5,#yellowLine6{
	background-color: yellow;
}
#greenLine1,#greenLine2,#greenLine3,#greenLine4,#greenLine5,#greenLine6{
	background-color: green;
}
.baseSetUp{
	width: 140px;
	height: 140px;
	background-color: white;
	border-radius: 20px;
	margin: auto;
	margin-top: 23px;
}
.initialPosition{
	width: 40px;
	height: 40px;
	background: silver;
	border-radius: 50%;
	margin: 15px;
	float: left;
}





